.App {
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  background-color: #c2c2c2;
  padding: 10px;
}

.header-element {
  cursor: default;
}

.header-element.selected {
  font-weight: bold;
}

.header-element:hover {
  color: white;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.task-item {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0.5em 0.7em;
  margin: 1em;
  font-size: 17px;
  border: black solid 1px;
  border-radius: 15px;
}


.task-item>div {
  display: flex;
  margin-bottom: 3%;

}

.edit-icon {
  padding: 0 10px;
  width: 19px;
  height: 19px;
}

.task-header {

  font-size: 18px;

}

.task-body {
  text-align: left;
}

.task-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


